
<div class="d-flex">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add New</button>
 </div>


 
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Full Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form  FormGroup="formValue">
        <div class="modal-body">
            <div class="row ">
                <div class="col">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="Name">
                    
                    </div>
                    <div class="form-text"></div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="email" class="from-label">Email Address</label>
                <input type="text" class="form-control" id="Email" formControlName="Email">
            </div>
            <div class="form-text"></div>

        </div>

        <div class="row">
            <div class="col mb-3">
                <label for="mobile" class="from-label">Mobile</label>
                <input type="text" class="form-control" id="mobile" formControlName="mobile">
                <div class="form-text"></div>
            </div>
            <div class="form-text"></div>

        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="dob" class="form-label">DOB</label>
                <input type="date">
            </div>
        </div>

        <div class="row">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle"  role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Active Status
                </a> -->
               
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" >YES</a>
                  <a class="dropdown-item" >NO</a>
                  
                </div>
              </div>
              
           </div>






        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="postDetails()" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>

    </div>










  
