 <table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">DOB</th>
            <th scope="col">isActive</th>
            <th scope="col">Action</th>

            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Aman</td>
            <td>singhaman60604@gmail.com</td>            
            <td>8318460604</td>
            <td>15/10/2000</td>
            <td>Yes</td>
            <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger mx-3">Delete</button>
            </td>

             
            
        </tr>
    </tbody>
 </table>